@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/source-code-pro-v31-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/source-code-pro-v31-latin-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Tiny5';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/tiny5-v3-latin-regular.woff2') format('woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Source Code Pro', monospace;
}

h1 {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 2rem;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid black;
}

nav,
nav ul {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 0;
}

nav ul {
    list-style: none;
}

nav ul li a {
    padding: 0.625rem;
    margin-left: -1px;
    border: 1px solid black;
}

nav ul li a:hover,
nav ul li a.active {
    color: white;
    background-color: black;
}

.drop-down-button {
    display: none;
    font-size: 1.5rem;
    margin: -0.625rem 0;
}

@media (max-width: 425px) {
    .drop-down-button {
        display: flex;
    }
    
    nav {
        position: relative;
    }
    
    nav ul {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: white;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: none;
        border-right: none;
        display: none;
        width: 100vw;
        margin-left: -2rem;
        padding: 0;
    }
    
    nav ul.active {
        display: flex;
    }
    
    nav ul li a {
        display: block;
        width: 100%;
        margin-left: 0;
        text-align: left;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid black;
        padding: 0.625rem 2rem;
    }
    
    nav ul li:last-child a {
        border-bottom: none;
    }
}

main,
main > .container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main > .container {
    width: 100%;
}

footer p {
    padding: 0.625rem 0;
    border-top: 1px solid black;
}

.greeting-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 1rem 0;
    border: 1px solid black;
}

.greeting-card p,
#target-text {
    padding: 1rem;
    font-family: "Tiny5", monospace;
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    color: black;
}

.canvas-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlayCanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.work-card {
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid black;
}

.work-card h2 {
    padding-bottom: 0.5rem;
}

.work-card p {
    padding-top: 0.5rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    height: 100%; 
    border: 1px solid black;
}

.project-card a {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.project-card img {
    display: block;
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-bottom: 1px solid black;
    background-color: white;
}

.project-card h2 {
    padding-bottom: 0.5rem;
}

.project-card p {
    flex: 1;
    padding-top: 0.5rem;
}

.contact-card {
    flex: 1;
    border: 1px solid black;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
}

.contact-grid {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}